/* general styses */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--color-body);
}

:root {
    --color-body: #212121;
    --second-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
}

.link { 
text-decoration: none; 
color: var(--color-body);
}

.list {
    list-style: none;
}



/* body styles */
/* header styses */

.header-list {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    /* color: var(--color-body);} */}

.logotipe {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    }

.header-text-web {color: #2196F3;}
.header-text-studio {color: #000000;}

.header-item:hover, .header-item:focus, .header-item:active {color: #2196F3;}
.header-item { color: var(--accent-color); }

.header-mail  {color: #757575;}
.header-mail:hover, .header-mail:focus, .header-mail:active {color: #2196F3;}

.header-tel {color: #757575;}
.header-tel:hover, .header-tel:focus, .header-tel:active {color: #2196F3;}

/* main styles */

.cap {background: #2F303A;}

.cap-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;}

.cap-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;}

/* styles features */

.features-list h3{
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;}

.features-list p {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
   
    color: #757575;}

/* styles we-do */

.we-do-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    
}

/* styses Our-team */

.our-team {background: #F5F4FA;}

.our-team-h2 {font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    }

.our-team h3 {font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    }

.our-team p {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    }

/* styles footer */

.footer {background: #2F303A;}

.footer-text-web {
    color: #2196F3;}

.footer-text-studio {
    color: #FFFFFF;}

.footer-logotipe {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    color: #2196F3;}

.footer-adress {font-style: normal;}

.adress {
    line-height: 1.71;
    
    color: #FFFFFF;}

.footer-info {
    line-height: 24px;
   
    color: rgba(255, 255, 255, 0.6);}

.footer-item:hover, .footer-item:focus, .footer-item:active {color: #2196F3;}

    /* STYSES FOR PORTFOLIO.HTML*/

    /* main styles */

    .visually-hidden, .features-h2 {
        position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
        
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
    }

.button-all {background: #F5F4FA;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        font-family:inherit;
        cursor: pointer;}

.filters-button {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    
    font-family: inherit;
    cursor: pointer;}

    .button-all:hover, .button-all:focus, .button-all:active {background: #2196F3; color: #F5F4FA;}
    .filters-button:hover, .filters-button:focus, .filters-button:active {background: #2196F3; color: #F5F4FA}

    /* styles portfolio list */

.portfolio-list h2 {
    font-weight: 700;
        font-size: 18px;
        line-height: 2.0;
        letter-spacing: 0.06em;
        color: var(--color-body);
}

.portfolio-list p {
        font-size: 16px;
        line-height: 1.87;
        
        color: #757575;
}